<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
</head>
<body style='background-color: #D6D6D5; color: #000;'>
    <header style='max-width: 600px; margin: 0 auto; background-color: #fff; border-radius: 10px; overflow: hidden;'>
        <img width='100%' src='{{headerImage}}' alt=''>
        <div style='padding: 1rem;'>
            <h1 style='text-align: center; color: #000;'>{{titulo}}</h1>
            <p style='text-align: center; color: #000;'>{{descripcion}}</p>
        </div>
        <div style='margin-bottom: 30px;'>
            <a href='http://jolly-pond-0715dcc0f.1.azurestaticapps.net/categoria/promociones' target='_blank' style='padding: 15px 35px;border-radius: 11px;border: none;background-color: #780000;color: #fff; margin-bottom: 40px; text-decoration: none; max-width: 80px; display: block; margin: 0 auto; text-align: center;'>
                Obtener
            </a>
        </div>
    </header>

    <div style='max-width: 600px; margin: 0 auto; border-radius: 10px; overflow: hidden; background-color: #fff; margin-top: 1rem; padding-bottom: 1rem; color: #000;'>
        <div style='padding: 1rem;'>
            <img width='100%' src='{{productImage}}' alt=''>
        </div>
    </div>

    <div style='max-width: 600px; margin: 0 auto; border-radius: 10px; overflow: hidden; background-color: #780000; margin-top: 1rem; padding-bottom: 1rem; color: #000;'>
        <div style='padding: 1rem;'>
            <p style='color: #fff; text-align: center;'>Carnicería Zamorano</p>
            <p style='color: #fff; text-align: center;'>Promoción enviada a nuestros clientes :)</p>
        </div>
    </div>

</body>
</html>