<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
</head>
<body style='background-color: #D6D6D5; color: #000;'>
    <header style='max-width: 700px; margin: 0 auto; background-color: #fff; border-radius: 25px; overflow: hidden;'>
        <img width='100%' src='https://zamorano.blob.core.windows.net/images/hpk0wgapnx8dgdfaasf4tc1tsemhyxv7bmlbeodlk0wikprzua.png' alt='Gracias por su compra'>
        <div style='padding: 1rem;'>
            <h1 style='text-align: center; color: #000;'>Gracias por Preferirnos</h1>
            <p style='text-align: center; color: #000;'>Disfruta de nuestros cortes listos para preparar y vivir las mejores experiencias con los tuyos</p>
        </div>
    </header>

    <div style='max-width: 700px; margin: 0 auto; border-radius: 25px; overflow: hidden; background-color: #fff; margin-top: 1rem; padding-bottom: 1rem; color: #000;'>
        <div style='padding: 1rem;'>
            <h2 style='text-align: center; color: #000;'>Detalle de la venta: <strong>${{total}}</strong></h2>
            <section style='padding: 1.5rem;'>
                <p style='text-align: center;color: #000;'><strong>Detalle de productos</strong></p>

                {{productDetail}}

                <div style='width: 50%; border-bottom: 1px solid #541313;'></div>

                <p style='margin: 0px; color: #000;'><strong>SubTotal: </strong>${{subTotal}}</p>
                <p style='margin: 0px; color: #000;'><strong>Descuentos: </strong>- ${{descuento}}</p>
                <p style='color: #000;'><strong>Total: </strong>${{total}}</p>
            </section>
        </div>
        <p style='margin: 0px; color: #000; text-align: center;'><strong>Una vez salido el producto no se aceptan devoluciones*</strong></p>
    </div>
</body>
</html>